run = "npm run dev"
hidden = [".build", ".config"]
entrypoint = "src/app/page.tsx"

[nix]
channel = "stable-23_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"
NODE_ENV = "development"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[languages.css]
pattern = "**/{*.css,*.scss}"
syntax = "css"

[languages.html]
pattern = "**/*.html"
syntax = "html"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80 